/* LoginForm.css */
*{
    
}

.login-form-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form-container h2 {
    margin-bottom: 20px;
  }
  
  .login-form-container input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form-container button {
    width: 100%;
    padding: 10px;
    background-color: #441242;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 500ms;
  }
  
  .login-form-container button:hover {
    background-color: #b30000;
    transition-duration: 500ms;
  }
  
  .login-form-container p {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #007bff;
  }
  
  .login-form-container p:hover {
    text-decoration: underline;
  }
  