/* Estilos generales para las tarjetas */


.carta {
    /* width: 300px; */
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.616);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carta:hover {
    scale: 1.1;
}

.carta__imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    /* height: 430px; */
    overflow: hidden;
}

.carta__imagen img {
    width: 100%;
}

/* Estilos para la calificación */
.carta .rating {
    position: absolute;
    bottom: 2px;
    left: 2px;
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 45%;
}

/* Estilos para la información de la película */
.carta .info {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    text-align: center;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.297);
}

h3 {
    font-size: 25px;
    font-weight: bolder;
}



.precio {
    font-size: 30px;
    font-weight: bold;
}



