/*Importaciones*/
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6%;
  padding: 1.5%;
  will-change: filter;
  transition: filter 400ms;
  color: red;
  font-family: "Jersey 25", sans-serif;
}
.logo:hover {
  filter: drop-shadow(0 0 5px rgb(250, 250, 250));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
